@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: url('../../public/fonts/bender/Bender-BlackItalic.woff') format('woff');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}